<form action="restaurant" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="cuisine" placeholder="cuisine">
    <input type="text" name="borough" placeholder="borough">
    <button type="submit">Add restaurant</button>
</form>