{{#each customers}}
    <h1>{{first_name}}</h1>
    <h1>{{last_name}}</h1>
    <a href="/customer/update?customerId={{_id}}">Update customer</a>
    {{#each restaurants}}
        <h1>{{name}}</h1>
    {{/each}}
{{/each}}